@media screen and (max-width: 600px){
    #title{
        height: auto;
    }
    button{
        width: 90%;
    }
    .tracks{
        font-size: xx-small;
    };
}
body{
    background-color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-width: 600px;
}
button {
    font-size: 2em;
    background: #000000;
    color: #fff;
    border: 0.25rem solid #000000;
    padding: 0.85em 0.75em;
    margin: 1rem;
    position: relative;
    z-index: 1;
    overflow: hidden;
    border-radius: 20px;
    width: 18%;
    min-width: 10%;
    max-width: 18%;
}
button:hover {
    color: white;
}
button::after {
    content: "";
    background-repeat: no-repeat;
    background-attachment:local;
    position: absolute;
    z-index: -1;
    padding: 0.85em 0.75em;
    display: block;
    background-repeat:round;
}

button[class^="slide"]::after {
    transition: all 1.35s;
}
button[class^="slide_from_bahrein"]::after{
    background-blend-mode: darken,luminosity;
    background:url(images/flags/bahrein.png), linear-gradient(to bottom, transparent, black 60%);
    background-size: 100%;
    background-repeat: no-repeat;
    min-width: 150px;
}
button[class^="slide_from_arabia"]::after{
    background-blend-mode: darken;
    background: url(images/flags/arabia.png), linear-gradient(to bottom, transparent,  black 60%);
    background-size: 100%;
}
button[class^="slide_from_australia"]::after{
    background-blend-mode: darken;
    background: url(images/flags/australia.png), linear-gradient(to bottom, transparent, black 60%);
    background-size: 100%;
}
button[class^="slide_from_italy"]::after{
    background-blend-mode: darken;
    background: url(images/flags/italia.png), linear-gradient(to bottom, transparent, black 60%);
    background-size: 100%;
}
button[class^="slide_from_usa"]::after{
    background-blend-mode: darken;
    background: url(images/flags/usa.png), linear-gradient(to bottom, transparent, black 60%);
    background-size: 100%;
}
button[class^="slide_from_spain"]::after{
    background-blend-mode: darken;
    background: url(images/flags/spain.png), linear-gradient(to bottom, transparent, black 60%);
    background-size: 100%;
}
button[class^="slide_from_monaco"]::after{
    background-blend-mode: darken;
    background: url(images/flags/monaco.png), linear-gradient(to bottom, transparent, black 60%);
    background-size: 100%;
}
button[class^="slide_from_azerbaiyan"]::after{
    background-blend-mode: darken;
    background: url(images/flags/azerbaiyan.png), linear-gradient(to bottom, transparent, black 60%);
    background-size: 100%;
}
button[class^="slide_from_canada"]::after{
    background-blend-mode: darken;
    background: url(images/flags/canada.png), linear-gradient(to bottom, transparent, black 60%);
    background-size: 100%;
}
button[class^="slide_from_austria"]::after{
    background-blend-mode: darken;
    background: url(images/flags/austria.png), linear-gradient(to bottom, transparent, black 60%);
    background-size: 100%;
}
button[class^="slide_from_france"]::after{
    background-blend-mode: darken;
    background: url(images/flags/francia.png), linear-gradient(to bottom, transparent, black 60%);
    background-size: 100%;
}
button[class^="slide_from_hungary"]::after{
    background-blend-mode: darken;
    background: url(images/flags/hungria.png), linear-gradient(to bottom, transparent, black 60%);
    background-size: 100%;
}
button[class^="slide_from_belgium"]::after{
    background-blend-mode: darken;
    background: url(images/flags/belgica.png), linear-gradient(to bottom, transparent, black 60%);
    background-size: 100%;
}
button[class^="slide_from_holanda"]::after{
    background-blend-mode: darken;
    background: url(images/flags/PaisesBajos.png), linear-gradient(to bottom, transparent, black 60%);
    background-size: 100%;
}
button[class^="slide_from_russia"]::after{
    background-blend-mode: darken;
    background: url(images/flags/rusia.png), linear-gradient(to bottom, transparent, black 60%);
    background-size: 100%;
}
button[class^="slide_from_singapur"]::after{
    background-blend-mode: darken;
    background: url(images/flags/singapur.png), linear-gradient(to bottom, transparent, black 60%);
    background-size: 100%;
}
button[class^="slide_from_japon"]::after{
    background-blend-mode: darken;
    background: url(images/flags/japon.png), linear-gradient(to bottom, transparent, black 60%);
    background-size: 100%;
}
button[class^="slide_from_mexico"]::after{
    background-blend-mode: darken;
    background: url(images/flags/mexico.png), linear-gradient(to bottom, transparent, black 60%);
    background-size: 100%;
}
button[class^="slide_from_brasil"]::after{
    background-blend-mode: darken;
    background: url(images/flags/brasil.png), linear-gradient(to bottom, transparent, black 60%);
    background-size: 100%;
}
button[class^="slide_from_eau"]::after{
    background-blend-mode: darken;
    background: url(images/flags/EAU.png), linear-gradient(to bottom, transparent, black 60%);
    background-size: 100%;
}
button[class^="slide_from_china"]::after{
    background-blend-mode: darken;
    background: url(images/flags/china.png), linear-gradient(to bottom, transparent, black 60%);
    background-size: 100%;
}
button[class^="slide_from_portugal"]::after{
    background-blend-mode: darken;
    background: url(images/flags/portugal.png), linear-gradient(to bottom, transparent, black 60%);
    background-size: 100%;
}


button[class^="slide"]:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all 0.35s;
    background-repeat: no-repeat;
}
  
button[class^="slide_"]::after {
    left: 0;
    right: 0;
    top: -100%;
    bottom: 100%;
}



.wrapper{
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

@font-face {
    font-family: 'FormulaUno';
    src: url(fonts/FormulaUno.ttf) format('truetype');
    font-style:normal;
    font-weight:300;
}
.title{
    font-family: "FormulaUno";
    padding: auto;
    background-color: antiquewhite;
    text-align: center;
    border-radius: 20px;
}
.tracks{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 30px;
    font-family: 'FormulaUno';
    font-size: 70%;
    min-width: 10%;
  }
