body{
    background-color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-width: 600px;
}

button {
    background: #000000;
    color: #fff;
    border: 0.25rem solid #ffffff;
    margin: 1rem;
    border-radius: 20px;
    width: 250px;
    height: 100px;
    text-align: center;
    padding: auto;
}

@font-face {
    font-family: 'FormulaUno';
    src: url(fonts/FormulaUno.ttf) format('truetype');
    font-style:normal;
    font-weight:300;
    text-align: center;
}

.title{
    font-family: "FormulaUno";
    padding: auto;
    background-color: antiquewhite;
    text-align: center;
    border-radius: 20px;
    height: 50px;
    padding-top: 10px;
}
.options{
    font-family: "FormulaUno";
    padding: auto;
    background-color: antiquewhite;
    text-align: center;
    border-radius: 20px;
}
.wrapper,.button_group{
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
    grid-template-columns: minmax(200px,300px)1fr;
}

.buttons_options,.Laps,.Weather,.calculo{
    text-align: center;
    font-variant-position: normal;
    font-family: 'FormulaUno';
    font-size: 200%;
}
.buttons_options{
    font-size: 200%;
}
.buttons_options:hover{
    animation: neon 5s infinite;
}
@keyframes neon {
    0%, 39%, 41%, 59%, 61%, 100% {
        text-shadow:
        white 0 0 12px,
        #e02e2e 0 0 24px,
        #ff0000 0 0 36px;
    }
    40%, 60%{
        text-shadow: none;
    }
}
.Laps:hover{
    background-blend-mode: darken;
    background: url(images/flags/end_race.png), linear-gradient(to bottom, transparent, black 70%);
}   
#Weather_sun:hover{
    background-blend-mode: darken;
    background: url(images/weather/sol.png),linear-gradient(to top, transparent, black 80%);
    background-size:100%;
    background-position: top;
    background-repeat: no-repeat;
}
#Weather_wet:hover{
    background: url(images/weather/lluvia.png);
    background-size: 50%;
}
#Weather_sun_wet:hover{
    background-blend-mode: darken;
    background:url(images/weather/lluvia-sol.png);
    background-size: 60%;
    background-position: top;
    background-repeat: no-repeat;
}

.calculo:hover{
    animation: neonf1 5s infinite;
}

@keyframes neonf1 {
    0%, 39%, 41%, 59%, 61%, 100% {
        text-shadow:
        white 0 0 12px,
        #ffffff 0 0 24px,
        #ffffff 0 0 36px;
    }
    40%, 60%{
        text-shadow: none;
    }
}
/* Styles of Simulation Option */
#display{
    background-color: #ffffff;
    font-family: 'FormulaUno';
}